@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500;9..144,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

p{
    font-size: 14px;
}

body{
    background-color: var(--cream);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.carding {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 40rem;
    background-color: var(--white);
    border-radius: 0.625rem;
    box-shadow: 0.1875rem 0.25rem 0.875rem rgba(18, 19, 17, 0.03);
    transition: ease 0.5s;
    margin: 1rem 1.5rem;
}

.carding-image img{
    height: 400px;
    width: 90%;
    border-radius: 10px 0px 0px 10px;
}

.carding-body{
    margin: px;
}

.carding-body h5{
    color: var(--cream);
    padding: 5px;
    letter-spacing: .3em;
}
/* 

.carding-body h2{
    font-weight: 900;
    font-size: 3em;
    font-family: 'Fraunces', sans-serif;
    padding: 5px;
}

.carding-body p{

} */

.striked {
    text-decoration: line-through;
}

.cart-button {
    background: var(--dark-cyan);
    border: none;
    width: 100%;
}