@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* primary */
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    /* neutral */
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

p{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

h1, h3, h4, h5, h6 {
    font-family: 'Fraunces', serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--cream);
}

.card {
  display: flex;
  align-items: center;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card-image {
  flex: 1;
  border-radius: 8px 0 0 8px;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 64.3vh;
  display: block;
}

.card-text {
  flex: 1;
  padding: 16px;
  height: auto;
  background-color: var(--white);
  overflow: hidden;
  border-radius: 0 8px 8px 0;
}

.card-text h2 {
  font-size: 18px;
  margin-top: 0;
  font-weight: lighter;
  color: var(--dark-grayish-blue);
  text-transform: uppercase;
  margin: 20px auto;
}

.card-text h1 {
  font-size: 38px;
  margin-top: 0;
  font-family: 'Fraunces', serif;
  margin: 20px auto;
}

.card-text p {
  width: 80%;
  margin: 20px 0;
  color: var(--dark-grayish-blue);
}

.card-text h3 span:nth-child(1) {
    font-size: 28px;
    color: var(--dark-cyan);
}

.card-text h3 span:nth-child(2) {
    font-size: 16px;
    text-decoration: line-through;
    color: var(--dark-grayish-blue);
    font-family: 'Montserrat', sans-serif;
}

.card-text button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: var(--dark-cyan);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin: 20px auto;
}

.card-text button .cart-icon {
    margin-right: 10px;
}

@media (max-width: 600px) {
    .card {
      flex-direction: column;
      max-width: 100%;
      border-radius: 0;
      margin-top: 100%;
    }
  
    .card-image {
      border-radius: 0;
    }
  
    .card-image img {
      height: 100%;
    }
  
    .card-text {
      border-radius: 0;
    }
  }
